<div class="landing-container">
    <h1 class="landing-title">Welcome to the Auto Spare Parts Management System</h1>
    
    <div class="home-container">
        <p class="api-description">
            Welcome to your SpareParts Inventory API! <br> 
            This API is designed to help you efficiently manage your auto spare parts inventory. <br>
            With this API, you can perform CRUD (Create, Read, Update, Delete) operations on your spare parts data. <br>
            Please register to access your API endpoints <br>
        </p>

        <div class="btn-container">
            <a href="/register" class="btn-register-landing">Register</a>
        </div>

        <p class="api-reminder">
            Please save your username and password credentials to access in the API.
        </p>

        <p class="api-insomnia"> Use <span>Insomania</span> for better access to the API</p>
    </div>
</div>
